@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-book: #3d1b10;
  --color-wilds-light: #fcce79;
  --color-wilds-dark: #d98724;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html.light {
  --background: #FFFFFF;
  --foreground: #000000;
  --color-sidebar: #B3B9C4;
  --color-sidebar-hover: #A0A6B2;
  --color-button: #75b7ea;
  --color-button-hover: #5a9fe1;
  --color-card: #F0F4F8;
  --color-card-hover: #E0E4E8;
}

html.dark {
  --background: #192734;
  --foreground: #FFFFFF;
  --color-sidebar: #0d141b;
  --color-sidebar-hover: #1f2937;
  --color-button: #5280a4;
  --color-button-hover: #3f6b8c;
  --color-card: #1f2937;
  --color-card-hover: #2a3748;
}

body {
  background: var(--background);
  color: var(--foreground);
}